.five-column-grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 3fr 6fr 4.5fr 1fr;
    gap: 0.25rem;
}
.two-column-grid-expand-right {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.three-column-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
gap: 0.25rem;
margin-top: 1rem;
margin-left: 0.5rem;;
}
.two-column-grid-expand-left {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.25rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.five-column-grid-equal {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.three-column-grid-exand__center {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    gap: 0.25rem;
}
.three-column-grid-squash {
    display: grid;
    grid-template-columns: 4fr 7fr 1fr;
  
    margin-top: 1rem;
    /* margin-left: 0.5rem; */
}
.four-column-grid-squash {
    display: grid;
    grid-template-columns: 0.5fr 5fr 7fr 1fr;
  
    margin-top: 1rem;
    /* margin-left: 0.5rem; */
}
.five-column-grid-equal-no-margin {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    margin-top: 1rem;
}
.four-column-grid-second-expand {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.four-column-grid-second-expand-2 {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
}